.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-height: 300px;
  overflow-y: auto;
}

.tableHeader {
  display: none;
}

.table {
  border-radius: 12px;
}
.tableBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  position: relative;
  height: 35px;
  width: 90vw;
  color: var(--primary-color);
}
.date {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
}
.desc {
  position: absolute;
  font-size: var(--bigger-font-size);
  font-weight: 900;
}
.category {
  position: absolute;
  left: 80px;
  bottom: 0;
  font-size: 1rem;
}

.sum,
.sumIncome {
  position: absolute;
  right: 50px;
  top: 8px;
  font-size: var(--bigger-font-size);
  font-weight: 900;
}
.sum {
  color: var(--expences-color);
}
.bin {
  position: absolute;
  right: 0;
}
.sumIncome {
  color: var(--incomes-color);
  font-weight: bold;
}

.button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 7px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--accent-color);
}

.tableWrapper::-webkit-scrollbar {
  width: 6px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.tableWrapper::-webkit-scrollbar-track {
  border-radius: 6px;
}

@media screen and (min-width: 768px /*var(--brakpoint-medium)*/) {
  .tableWrapper {
    max-width: 600px;
  }
  .tableBody {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .tableHeaderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 50px;
    width: 596px;
    color: var(--primary-color);
    font-size: var(--bigger-font-size);
    font-weight: bold;
    background-color: var(--accent-color);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    outline: 2px solid var(--accent-color);
  }

  .row {
    outline: 2px solid var(--accent-color);
    justify-content: center;
    align-items: center;
  }
  .tableHeader {
    display: flex;
    text-align: left;
    font-weight: bold;
    padding: 15px 20px;
    color: var(--primary-color);
    font-size: var(--default-font-size);
  }

  .date {
    font-size: var(--default-font-size);
    bottom: 10px;
    left: 18px;
  }
  .desc {
    left: 140px;
    top: 10px;
    font-size: var(--default-font-size);
    font-weight: 400;
    color: var(--primary-color);
  }
  .category {
    left: 307px;
    top: 10px;
    font-size: var(--default-font-size);
    font-weight: 400;
    color: var(--primary-color);
  }
  .sum {
    right: 113px;
  }
  .sumIncome {
    right: 113px;
  }
  .button {
    right: 15px;
  }
}

@media screen and (min-width: 1280px /*var(--brakpoint-large)*/) {
  .tableHeaderWrapper {
    width: 746px;
    gap: 100px;
  }
  .desc {
    left: 188px;
  }
  .category {
    left: 402px;
  }
  .sum {
    right: 115px;
  }
  .sumIncome {
    right: 115px;
  }
  .tableWrapper {
    max-width: 750px;
    max-height: 480px;
  }

  .tableWrapper::-webkit-scrollbar {
    width: 8px;
  }

  .tableWrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}
