.reports-icon-main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-weight: 400;
  font-size: var(--default-font-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
  height: 106px;
  white-space: normal;
}

.reports-icon {
  max-width: 56px;
}
