.reports-calendar-month-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: var(--default-font-size);
  letter-spacing: 0.04em;
  color: var(--primary-color);
  transition: color var(--transition-time) var(--transition-timing-function);
  user-select: none;
}

.reports-calendar-month-text {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
}

.reports-calendar-month-date-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.reports-calendar-month-name {
  font-weight: 700;
  font-size: var(--bigger-font-size);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-dark-color);
  min-width: 126px;
}

.reports-calendar-month-arrow {
  cursor: pointer;
}
