* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  height: 150vh;
  width: 100vw;
  min-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.background {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  position: relative;
  width: 100vw;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabbageBackground {
    position: absolute;
    top: 40px; 
    left: 0;
    width: 120vw;
    height: 250px;
    background-color: rgba(245, 246, 251, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15%;
}

.title {
  width: 90%;
  max-width: 280px;
  font-size: 3.5rem;
  font-weight: 900;
  position: absolute;
  top: 50px;
  left: 40px;
  transform: translateX(-20%);
  text-align: center;
  color: var(--text-dark-color);
  text-shadow: 1px 1px 4px #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 10;
}

.finance {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 18%;
  top: 484px;
  left: 300px;
  color: var(--primary-color);
}

.moveDown .title {
  opacity: 0;
  pointer-events: none;
}

.cabbageBottom {
  display: none;
}

/* TABLETY */
@media screen and (min-width: 768px /*var(--brakpoint-medium)*/) {
  body {
    min-width: 768px;
    height: 200vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  .background {
    height: 200vh;
    overflow: visible;
  }

  .cabbageBackground {
    height: 583px;
    min-width: 768px;
    border-bottom-left-radius: 10%;
    width: 110vw;
  }

  .isLoggedIn .cabbageBottom {
    right: 0; 
    left: auto; 
  }

  .title {
    font-size: 6rem;
    width: 250px;
    top: 136px;
    left: 30%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    z-index: 10;
  }

  .finance {
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 18%;
    top: 484px;
    left: 300px;
    color: var(--primary-color);
  }

  .cabbageBottom {
    display: block;
    width: 183px;
    height: 146px;
    top: 808px;
    left: 103px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cabbageBottom svg {
    width: 183px;
    height: 189px;
  }

  .isLoggedIn .cabbageBottom {
    display: block;
  }
}

/*DESKTOP*/

@media screen and (min-width: 1280px /*var(--brakpoint-large)*/) {
  body {
    height: 100vh;
    min-width: 1280px;
  }

  .background {
    height: 150vh;
    min-width: 1280px;
  }

  .cabbageBackground {
    position: absolute;
    top: 0;
    max-width: 100vw;
    height: 490px;
    background-color: rgb(240, 242, 249);
    border-bottom-left-radius: 10%;
    /* z-index: 1; */
}

  .title {
    width: 377px;
    height: 139px;
    font-size: 10.2rem;
    font-weight: 900;
    position: absolute;
    top: 264px; 
    left: 339px; 
    color: var(--text-dark-color);
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .finance {
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 18%;
    top: 484px;
    left: 300px;
    color: rgba(82, 85, 95, 1);
  }

  .moveDown .title {
    opacity: 0;
    pointer-events: none;
  }

  .isLoggedIn .cabbageBottom {
    display: none;
  }

  .cabbageBottom {
    width: 183px;
    height: 142px;
    top: 520px;
    left: 230px;
    position: absolute;
    z-index: 100;
  }

  .cabbageBottom svg {
    width: 183px;
    height: 189px;
  }

  .hideOnMobileAndDesktop {
    display: none;
}
}