.link {
  font-family: inherit;
  font-size: var(--default-font-size);
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  transition: color var(--transition-time) var(--transition-timing-function);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1.4rem;
  transition: fill var(--transition-time) var(--transition-timing-function);
}
