.reports-backlink {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  font-size: var(--default-font-size);
  letter-spacing: 0.04em;
  color: var(--primary-color);
  user-select: none;
  text-decoration: none;
}

.reports-backlink-text {
  display: none;
}

@media screen and (min-width: 768px /*var(--brakpoint-medium)*/) {
  .reports-backlink-text {
    padding: 6px 0 5px 10px;
  }

  .reports-backlink-text {
    display: inline-block;
  }
}
