.balanceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
}

.balanceLabel {
    font-size: 1rem;
    color: var(--primay-color);
    font-weight: 500;
}

.balanceWrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    justify-content: space-between;
}

.balanceInput {
    border: 2px solid var(--text-light-color);
    border-radius: 16px;
    background-color: var(--accent-color);
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-dark-color);
    flex: 1;
    min-width: 80px;
    margin-right: 10px;
}

.confirmButton {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primay-color);
    transition: background 0.3s ease;
    flex: 1;
    text-align: center;
    border: 2px solid var(--text-light-color);
    border-radius: 16px;
    background-color: var(--accent-color);
}

.confirmButton:hover {
    background-color: var((--secondary-color));
}

@media (max-width: 320px) {
    .balanceContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .balanceWrapper {
        flex-direction: column;
        width: 100%;
        max-width: 250px;
        border-radius: 8px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .balanceInput,
    .confirmButton {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .balanceContainer {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .balanceWrapper {
        flex-direction: row;
        width: auto;
        border-radius: 8px;
    }

    .balanceInput,
    .confirmButton {
        width: auto;
        text-align: center;
        min-width: 100px;
    }
}