.balanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin-top: 90px;
}

.balanceLabel {
  font-size: var(--default-font-size);
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--primay-color);
  transition: color var(--transition-time) var(--transition-timing-function);
}

.balanceWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 2px solid var(--accent-color);
  width: 290px;
  border-radius: 22px;
  position: relative;
}

.balanceInput {
  width: 100%;
  max-width: 280px;
  padding: 10px;
  font-size: var(--default-font-size);
  text-align: center;
  border: none;
  border-inline: 2px solid var(--accent-color);
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: transparent;
  outline: none;
  color: var(--text-dark-color);
  transition: color var(--transition-time) var(--transition-timing-function);
}

.confirmButton {
  width: 100%;
  max-width: 180px;
  padding: 10px;
  font-size: var(--default-font-size);
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: var(--primay-color);
  cursor: pointer;
}

.balanceModal {
  position: absolute;
  top: 50px;
  left: -12px;
  z-index: 10;
}

@media screen and (min-width: 768px /*var(--brakpoint-medium)*/) {
  .balanceContainer {
    flex-direction: row;
    gap: 21px;
  }
  .balanceLabel {
    margin-bottom: 0px;
  }

  .balanceWrapper {
    gap: 12px;
    border: none;
  }

  .balanceInput {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
  }

  .confirmButton {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    transition: background-color var(--transition-time)
        var(--transition-timing-function),
      color var(--transition-time) var(--transition-timing-function);
  }
  .confirmButton:hover {
    color: var(--text-light-color);
    background-color: var(--secondary-color);
  }
}

@media screen and (min-width: 1280px /*var(--brakpoint-large)*/) {
  .balanceInput {
    max-width: 320px;
    padding: 14px;
  }

  .confirmButton {
    max-width: 200px;
    padding: 14px;
  }
  .balanceModal {
    position: absolute;
    top: 58px;
  }
}
