:root {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-size: 62.5%;

  --default-font-size: 1.2rem;
  --bigger-font-size: 1.4rem;

  --primary-color: rgb(82, 85, 95);
  --secondary-color: rgb(255, 117, 29); /* orange in figma */
  --tertiary-color: rgb(254, 217, 191); /* lighter orange in figma */
  --accent-color: rgb(
    245,
    246,
    251
  ); /* bacground, outline, placeholder, ect. */
  --lighter-accent-color: rgb(
    250,
    251,
    253
  ); /* expenses/income tab bacground */

  --text-light-color: rgb(255, 255, 255);
  --text-dark-color: rgb(0, 0, 0);
  --alert-color: rgb(235, 87, 87); /* login required */

  --icon-fill-color: rgb(7, 31, 65);

  --expences-color: rgb(229, 57, 53);
  --incomes-color: rgb(64, 121, 70);

  --modal-gradient: linear-gradient(
    147deg,
    rgba(29, 52, 106, 1) 0%,
    rgba(3, 22, 52, 1) 100%
  );
  --toogle-bg: rgb(255, 117, 29);
  --toogle-fg: rgb(82, 85, 95);

  --transition-time: 250ms;
  --transition-timing-function: ease-in-out;

  /*breakpoints var are not working by now */
  --brakpoint-small: 320px;
  --brakpoint-medium: 768px;
  --brakpoint-large: 1280px;
}

/* kolory do dark mode do ustalenia */
[data-theme="dark"] {
  --primay-color: rgb(255, 117, 29);
  --secondary-color: rgb(245, 246, 251);
  --tertiary-color: rgb(0, 0, 0);
  --accent-color: rgb(36, 36, 36);
  --lighter-accent-color: rgb(51, 51, 51);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
