.reports-page-main-container {
  --reports-page-width: 1034px;
  --reports-page-bgcolor: var(--text-light-color);
  --font-family: "Roboto", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --letter-spacing: 0.02em;
  --font-color-gray: var(--toogle-fg);
  --bar-color-primary: var(--tertiary-color);
  --bar-color-second: var(--toogle-bg);
  max-width: var(--reports-page-width);
  font-family: var(--font-family);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  padding-bottom: 52px;
  margin-top: 72px;
  margin-left: 20px;
}

.reports-page-first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.reports-page-first-container > :nth-child(1) {
  margin-right: auto;
  margin-left: 25px;
}

.background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 480px;
  z-index: -1;
  background-color: var(--accent-color);
  border-bottom-left-radius: 150px;
}

.top {
  position: absolute;
  top: 100px;
  right: -155px;
}
.bottom {
  position: absolute;
  top: 730px;
  left: 5%;
}
.kapustas {
  display: none;
}

/* Tablety (768px+)  */
@media (min-width: 768px) {
  .reports-page-main-container {
    max-width: 704px;
    margin-top: 40px;
    margin-left: 0px;
  }

  .reports-page-first-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
  }

  .reports-page-first-container > :nth-child(1) {
    margin-right: 0;
  }
  
  .background {
    position: fixed;
    left: 0%;
    height: 600px;
    width: 200vw;
  }

  .top {
    display: none;
  }
  .bottom {
    top: 850px;
    left: 60%;
  }
  .kapustas {
    display: block;
    position: absolute;
    top: 100px;
    left: 40px;
    width: 80%;
    height: 300px;
    scale: 120%;
  }
    
  .reports-page-first-container > :nth-child(2) {
    margin-top: 0;
  }
}

/* Desktopy (1280px+) */
@media (min-width: 1280px) {
  .reports-page-main-container {
    max-width: 1500px;
  }
  .reports-page-first-container {
    gap: 230px;
  }
  .reports-page-first-container > :nth-child(1) {
    margin-top: 0;
    white-space: nowrap;
  }
  .reports-page-first-container > :nth-child(2) {
    margin-top: 0;
  }
  
  .kapustas {
    top: 160px;
    left: -20%;
    height: 110px;
    scale: 270%;
  }
  .bottom {
    display: none;
  }
  
  .reports-page-first-container {
    margin-top: 90px;
  }
}
